@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
body{
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  font-family: Gilroy;
}
body {
  -webkit-touch-callout: none; /* Disable iOS callouts */
  -webkit-user-select: none; /* Disable text selection */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@font-face {
  font-family: Gilroy;
  src: url("/Fonts/Gilroy-Regular.ttf");
}
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a0000;
 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cf0000;
}
